/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

#define DEFAULT 0
#define BT 1
#define SPECIAL 2

&mt {
      flavor = "tap-preferred";
   // tapping_term_ms = <200>;
};

/ {
    
 combos {
        compatible = "zmk,combos";
        combo_eScape {
            timeout-ms = <20>;
            key-positions = <0 1>;
            bindings = <&kp ESC>;
        };
        combo_lEft_BRACKET {
            timeout-ms = <20>;
            key-positions = <10 11>;
            bindings = <&kp LEFT_BRACKET>;
        };
        combo_lEft_PARENTHESIS {
            timeout-ms = <20>;
            key-positions = <11 12>;
            bindings = <&kp LEFT_PARENTHESIS>;
        };
        combo_lEft_BRACE {
            timeout-ms = <20>;
            key-positions = <12 13>;
            bindings = <&kp LEFT_BRACE>;
        };
        combo_rIght_BRACKET {
            timeout-ms = <20>;
            key-positions = <18 19>;
            bindings = <&kp RIGHT_BRACKET>;
        };
        combo_rIght_PARENTHESIS {
            timeout-ms = <20>;
            key-positions = <17 18>;
            bindings = <&kp RIGHT_PARENTHESIS>;
        };
        combo_rIght_BRACE {
            timeout-ms = <20>;
            key-positions = <16 17>;
            bindings = <&kp RIGHT_BRACE>;
        };
        combo_dElete {
            timeout-ms = <20>;
            key-positions = <12 17>;
            bindings = <&kp DELETE>;
        };
        combo_eNter {
            timeout-ms = <20>;
            key-positions = <13 16>;
            bindings = <&kp ENTER>;
        };
        combo_DEFAULTLAYER {
            timeout-ms = <20>;
            key-positions = <4 5>;
            bindings = <&to DEFAULT>;
        };
        combo_BTLAYER {
            timeout-ms = <20>;
            key-positions = <14 15>;
            bindings = <&to BT>;
        };
        combo_SPECIALLAYER {
            timeout-ms = <20>;
            key-positions = <24 25>;
            bindings = <&to SPECIAL>;
        };
        combo_Lock {
            timeout-ms = <20>;
            key-positions = <23 26>;
            bindings = <&Lock>;
        };
        combo_Screenshot {
            timeout-ms = <20>;
            key-positions = <22 27>;
            bindings = <&Screenshot>;
        };
    };
    
    macros {
    ZMK_MACRO(Screenshot,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings 
        = <&macro_press &kp LEFT_WIN>
        , <&macro_press &kp LSHFT>
        , <&macro_tap &kp S>
        , <&macro_release &kp LEFT_WIN>
        , <&macro_release &kp LSHFT>
        ;
    )
    ZMK_MACRO(Lock,
        wait-ms = <0>;
        tap-ms = <0>;
        bindings 
        = <&macro_press &kp LEFT_WIN>
        , <&macro_tap &kp L>
        , <&macro_release &kp LEFT_WIN>
        ;
    )
    };

        //      ========================================= DEFAULT_LAYER =========================================
        //      |   0   |       |       |       |   4   |               |   5   |       |       |       |   9  |
        //      |   10  |       |       |       |   14  |               |   15  |       |       |       |   19 |
        //      |   20  |       |       |       |   24  |               |   25  |       |       |       |   29 |
        //                              |   30  |   31  |               |   32  |   33  |

        keymap {
                compatible = "zmk,keymap";
                default_layer { 
		            bindings = <
        //      ========================================= DEFAULT_LAYER =========================================
        //      |  Q    |  W    |  F    |  P    |  G    |               |  J    |  L    |  U    |  Y    |  <-  |
                &kp Q   &kp W   &kp F   &kp P   &kp G 			        &kp J   &kp L   &kp U   &kp Y   &kp BACKSPACE
        //      | A HOME|   R   |   S   |   T   | D END |               |  H ⬅ |  N ⬇  |  E ⬆  |  I  ⮕|  O ;  |
                &mt HOME A &kp R &kp S &kp T &mt END D 			        &kp H   &kp N   &kp E   &kp I   &mt SEMICOLON O
        //      | Z TAB | X ALT |   C   |   V   |   B   |               |   K   |   M  |  , '  |  . `  |  / | |
                &kp Z   &kp X   &kp C   &kp V   &kp B				    &kp K   &kp M   &mt SINGLE_QUOTE COMMA  &mt GRAVE DOT &mt BACKSLASH SLASH
        //                              | lsft  | SPACE |               | RSFT | lctrl |
	                                    &kp LSHIFT &kp LCTRL 			&kp RCTRL &mo SPECIAL
        >;                                                                      
		}; 
		
		bt_layer {
		bindings = <
        //      ========================================= BLUETOOTH_LAYER =========================================
        //      |       |       |       |       |       |               |       |       |       |       |      |
		        &bt BT_SEL 0 &bt BT_SEL 1 &bt BT_SEL 2  &bt BT_SEL 3 &bt BT_SEL 4   	&none &none &none &none &none 
        //      |       |       |       |       |       |               |       |       |       |       |      |
		        &none &none &none &none &bt BT_CLR_ALL                  &none &none &none &none &none
        //      |       |       |       |       |       |               |       |       |       |       |      |
                &none &bt BT_PRV &none &bt BT_NXT &none                 &none &none &none &none &none
        //                              |       |       |               |       |       |
				                        &none &none                     &none &none 
		>;
		};	
		
		special_layer {
		bindings = <
        //      ========================================= SPECIAL_LAYER =========================================
        //      |       |       |       |       |       |               |       |       |       |       |      |
		        &kp N1  &kp N2  &kp N3  &kp N4  &kp N5 		            &kp N6  &kp N7  &kp N8  &kp N9  &kp N0
        //      |       |       |       |       |       |               |       |       |       |       |      |
		        &none   &kp LEFT &kp DOWN &kp UP &kp RIGHT  				&none &none  &none &kp MINUS &kp EQUAL 
        //      |       |       |       |       |       |               |       |       |       |       |      |
		        &kp TAB  &kp LWIN &kp LALT &none &none                  &none   &none   &kp RALT &kp RWIN &none  
        //                              |       |        |              |       |       |
                    					&trans &kp SPACE                   &trans &none 
		>;
		};	
        
	};
};
